* {
  box-sizing: border-box;
}

.App {
  padding: 30px;
  margin: 10px;
  font-family: sans-serif;
  text-align: center;
}

.Resume {
  border: 4px solid black;
  height: 758px;
}

.Header {
  border: 1px solid #338078;
  height: 150px;
  background: #338078;
  color: white;
}

.Content {
  border: 1px solid black;
  display: flex;
  height: 600px;
}

.Contact {
  flex: 1;
  background: lightgrey;
  text-align: right;
  padding: 20px;
}

.Experience {
  flex: 2;
  text-align: left;
  padding: 20px;
}
